.image-container .hoverImage {
  cursor: pointer;
}

.image-container .cursorImage {
  pointer-events: none;
  position: fixed;
  display: none;
  width: 200px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 9999;
}

.hover-image {
  position: absolute;
  z-index: 9999; /* Ensure the hover image is on top of all other images */
  max-width: 900px; /* Set the maximum width of the image */
}
